@font-face {
    font-family: "Lora";


src: url('../fonts/Lora-Regular.ttf');
src: url('../fonts/Lora-Italic.ttf');
src: url('../fonts/Lora-Bold.ttf');
src: url('../fonts/Lora-BoldItalic.ttf');
}

body {
    font-family: 'Lora, Helvetica, Arial';
    padding-top: 80px;
}